$font-stack: Arial, Helvetica, sans-serif;
$white-opacity: rgba(255, 255, 255, 0.2);
$white: rgb(255, 255, 255);

body {
  background-color: #ffffff;
  font-family: $font-stack;
}

*:focus {
  outline: none;
}
.autocomplete {
  padding: 35px 30px 15px;
  overflow: auto;
  display: flex;
  background: linear-gradient(
    to right,
    rgb(255, 105, 15),
    rgba(232, 56, 27, 1)
  );

  button {
    width: 4%;
    margin-left: 0.5rem;
    background-color: $white;
    img {
      filter: invert(48%) sepia(85%) saturate(2692%) hue-rotate(353deg)
        brightness(102%) contrast(101%);
    }
    border: 0;
  }

  &-search-field {
    background-color: $white-opacity;
    flex: 1;
    display: flex;
    align-items: center;
    img {
      filter: invert(100%) sepia(11%) saturate(7500%) hue-rotate(168deg)
        brightness(114%) contrast(110%);
      width: 1.5%;
      padding: 0.5rem;
    }

    input {
      background-color: rgba(255, 255, 255, 0);
      width: 90%;
      border: 0;
      font-weight: bold;
      color: $white;
      align-items: center;
      &:focus {
        outline: none;
      }
    }
    ::placeholder {
      color: $white;
    }
  }
}

.results {
  margin-top: -4.5rem;
  margin-left: 5rem;
  margin-right: 1.8rem;
  padding: 0.5rem 0.5rem 1.5rem;
  overflow: auto;
  display: flex;
  background: rgb(253, 253, 253);
  box-shadow: 0.1rem 0.1rem 0.6rem #888888;
  border-radius: 0.3rem;
  input {
    border: 0;
    &:focus {
      outline: none;
    }
  }
  table {
    width: 100%;
    td:first-child {
      width: 1.5%;
    }
    tr:first-child {
      td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      input {
        font-size: 1.5em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
      }
      p {
        font-size: 0.75em;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    td:not(:first-child) {
      padding: 0.4rem;
      p.title {
        font-size: 1.5em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.7);
      }
      p.details {
        font-size: 0.75em;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.7);
      }
      p.loading {
        font-size: 1em;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.4);
      }
      &:hover {
        cursor: pointer;
      }
    }

    border-collapse: collapse;
  }
  img {
    width: 100%;
  }
  p {
    margin: 0 0;
  }
}
