$font-stack: Arial, Helvetica, sans-serif;

body {
  background-color: #ffffff;
  font-family: $font-stack;
}

*:focus {
  outline: none;
}
.autocomplete {
  padding: 35px 30px 15px;
  overflow: auto;
  display: flex;
  background: linear-gradient(
    to right,
    rgb(255, 105, 15),
    rgba(232, 56, 27, 1)
  );

  button {
    width: 4%;
    margin-left: 0.5rem;
    background-color: rgb(255, 255, 255);
    img {
      filter: invert(48%) sepia(85%) saturate(2692%) hue-rotate(353deg)
        brightness(102%) contrast(101%);
    }
    border: 0;
  }

  &-search-field {
    background-color: rgba(255, 255, 255, 0.2);
    flex: 1;
    display: flex;
    align-items: center;
    img {
      filter: invert(100%) sepia(11%) saturate(7500%) hue-rotate(168deg)
        brightness(114%) contrast(110%);
      width: 2%;
      padding: 0.5rem;
    }

    input {
      background-color: rgba(255, 255, 255, 0);
      width: 90%;
      border: 0;
      font-weight: bold;
      color: rgb(255, 255, 255);
      align-items: center;
      &:focus {
        outline: none;
      }
    }
    ::placeholder {
      color: rgb(255, 255, 255);
    }
  }
}

.results {
  margin-top: -65px;
  margin-left: 80px;
  margin-right: 35px;
  padding: 5px 5px 15px;
  overflow: auto;
  display: flex;
  background: rgb(253, 253, 253);
  box-shadow: 5px 5px 10px #888888;
  border-radius: 5px;
  input {
    border: 0;
    &:focus {
      outline: none;
    }
  }
  table {
    width: 100%;
    td:first-child {
      width: 1.5%;
    }
    tr.border_bottom td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    border-collapse: collapse;
  }
  img {
    width: 100%;
  }
  p {
    margin: 0 0;
  }
}
